<footer>
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="page previous newer-posts" href="{{page_url prev}}">上一页</a>
        {{/if}}
        <span class="page-number">第 {{page} 页， 共 {{pages}} 页</span>
        {{#if next}}
        <a class="page next older-posts" href="{{page_url next}}">下一页</a>
        {{/if}}
    </nav>
</footer>